# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# IDE
.vscode/
.idea/

# Local bills
bills/
